torch>=2.0.0
numpy
pandas
scikit-learn
fastapi
uvicorn
matplotlib              # Plotting and visualization
optuna
redis>=5.0.1                # For caching
slowapi>=0.1.9             # For rate limiting  
pytest>=7.4.3              # For testing
prometheus-client>=0.19.0  # For monitoring
sqlalchemy>=2.0.23         # For DB connection pooling

python-multipart        # Required for handling form data in FastAPI
pytest                  # Testing framework for Python
anvil
web3

psycopg2-binary         # PostgreSQL database adapter
redis                   # In-memory data structure store, used for real-time caching
requests                # HTTP library for fetching external APIs (OpenWeatherMap)
joblib                  # Efficiently saving and loading large Python objects (like the MinMaxScaler)
python-dotenv           # For loading environment variables from .env files